.orderListItem-actions-container {
    position: relative;
}

.orderListItem-actions {
    position: absolute;
    left: 50%;
    top: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.orderListItem-actions > button {
    background-color: transparent;
    padding: 5px 10px;
    font-size: 14px;
} 

.orderListItem-actions > button:hover {
    background-color: #333;
    color: #fff;
}